In [3]:
total_kgs_wheat_harvest = 2050
total_kgs_potato_harvest = 3600

total_kgs_harvest = total_kgs_wheat_harvest + total_kgs_potato_harvest
print("Total Harvest in Kilograms:", total_kgs_harvest)

Total Harvest in Kilograms: 5650

In [4]:
seed_expense = 650
labour_expense = 3070

total_expenses_dollars = seed_expense + labour_expense 
print("Total expenses in dollars:", total_expenses_dollars)

Total expenses in dollars: 3720

In [6]:
price_per_kg_wheat = 2
price_per_kg_potato = 1.4

total_revenue_dollars = (price_per_kg_wheat* total_kgs_wheat_harvest) + (price_per_kg_potato * total_kgs_potato_harvest)
print("Total revenue in dollars:", total_revenue_dollars)

Total revenue in dollars: 9140.0

In [7]:
total_profit_dollars = total_revenue_dollars - total_expenses_dollars
print("Total Profit in Dollars:", total_profit_dollars)

Total Profit in Dollars: 5420.0

In [8]:
int_variable = 42
string_variable = "Hello, World!"
float_variable = 3.14

print(type(int_variable))
print(type(string_variable))
print(type(float_variable))

<class 'int'>
<class 'str'>
<class 'float'>

In [11]:
integer_variable = int(3.14)
float_variable = float("42.42")
string_variable = str(123)

print(integer_variable,":", type(int_variable))
print(float_variable, ":", type(float_variable))
print(string_variable, ":", type(string_variable))

3 : <class 'int'>
42.42 : <class 'float'>
123 : <class 'str'>

In [12]:
integer1 = 5
integer2 = 10
answer = integer2/integer1

print(integer1,":", type(integer1))
print(integer2, ":", type(integer2))
print(answer, ":", type(answer))

5 : <class 'int'>
10 : <class 'int'>
2.0 : <class 'float'>

In [13]:
float_result = float("42")
integer_from_float_result = int(float("3.14"))

print(float_result,":", type(float_result))
print(integer_from_float_result, ":", type(integer_from_float_result))

42.0 : <class 'float'>
3 : <class 'int'>

In [14]:
variable_a = 5.67
variable_b = "123"

variable_a = float(variable_a)
variable_b = int(variable_b)

result = variable_a + variable_b

print(result, ":", type(result))

128.67 : <class 'float'>

In [15]:
mixed_variable = "42.42"

float_version = float(mixed_variable)
integer_version = int(float_version)

print(integer_version, ":", type(integer_version))
print(float_version, ":", type(float_version))

42 : <class 'int'>
42.42 : <class 'float'>

In [16]:
total_amount = 42.56
total_amount_in_cents = int(total_amount * 100)

print("Total amount in cents:", total_amount_in_cents)

Total amount in cents: 4256

In [17]:
my_string = "Hello, World!"

first_char = my_string[0]
second_char = my_string[1]
last_char = my_string[12]

print("Positive indexing:")
print("First character:", first_char)
print("Second character:", second_char)
print("Last character:", last_char)

Positive indexing:
First character: H
Second character: e
Last character: !

In [18]:
last_char_negative = my_string[-1]
second_last_char = my_string[-2]
first_char_negative = my_string[-13]

print("\nNegative indexing:")
print("Last character:", last_char_negative)
print("Second last character:", second_last_char)
print("First character:", first_char_negative)

Negative indexing:
Last character: !
Second last character: d
First character: H

In [19]:
print("Hello,\nWorld!")

Hello,
World!

In [20]:
print("Name:\tJohn\nAge:\t25")

Name:	John
Age:	25

In [21]:
print("This is a backslash: \\")

This is a backslash: \

In [22]:
print('He said, \'Hello!\'')

He said, 'Hello!'

In [23]:
print("She exclaimed, \"Wow!\"")

She exclaimed, "Wow!"

In [24]:
print("Overwrite\rThis text.")

This text.

In [25]:
print("Remove\b This")

Remov This

In [26]:
print("This is an alert!\a")

This is an alert!

In [27]:
print("Octal representation: \110")

Octal representation: H

In [28]:
print("Hexadecimal representation: \x48")

Hexadecimal representation: H

In [31]:
challenge_string = "PythonIsAwesome!"

third_character = challenge_string [2]
first_character = challenge_string [-1]
sub_string = challenge_string [6:10]

print("Third Character:", third_character)
print("First Character:", first_character)
print("Sub String:", sub_string)

Third Character: t
First Character: !
Sub String: IsAw

In [33]:
string1 = "Programming"
string2 = " is fun!"

concatenate = string1 + string2

print(concatenate)

Programming is fun!

In [40]:
multiline = """John, Age: 30
This is a multiline string.
Name: \tJohn
Age: \t30
This is a backslash\\
He said, \'Hello!\'
She exclaimed, \"Wow!\"
Overwrite\rThis text.
Remove\b This"""

print(multiline)

John, Age: 30
This is a multiline string.
Name: 	John
Age: 	30
This is a backslash\
He said, 'Hello!'
She exclaimed, "Wow!"
This text.
Remov This

In [43]:
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2
print(result)

Hello World

In [48]:
original_string = "Python"
replicated_string = original_string * 5
print(replicated_string)

PythonPythonPythonPythonPython

In [51]:
text = "Python is amazing"
substring = text[7:9]
print(substring)

is

In [52]:
original_string = "hello, world!"
uppercase_string = original_string.upper()
print(uppercase_string)

HELLO, WORLD!

In [53]:
original_string = "hello, world!"
capitalised_string = original_string.capitalize()
print(capitalised_string)

Hello, world!

In [57]:
raw_input = "    This is a sentence with spaces.    "
trimmed_input = raw_input.strip()
print(trimmed_input)

This is a sentence with spaces.

In [58]:
original_text = "Python is a powerful programming language."
modified_text = original_text.replace("Python", "JavaScript")
print(modified_text)

JavaScript is a powerful programming language.

In [59]:
sentence = "Searching for a keyword in this sentence."
index = sentence.find("keyword")
print(index)

16

In [60]:
greeting = "Hey"
name = "Alice"
punctuation = "!"

personalised_greeting = greeting + " " + name + punctuation
print(personalised_greeting)

Hey Alice!

In [61]:
pattern = "ABC"

repeated_pattern = pattern * 5
print(repeated_pattern)

ABCABCABCABCABC

In [64]:
manipulation_string = "python string manipulation"
upper_manipulation_string = manipulation_string.upper()
capitalise_manipulation_string = manipulation_string.capitalize()
modified_manipulation_string = manipulation_string.replace("string", "text")

print(upper_manipulation_string)
print(capitalise_manipulation_string)
print(modified_manipulation_string)

PYTHON STRING MANIPULATION
Python string manipulation
python text manipulation

In [65]:
complex_string = "apple pie, apple juice, apple tart"

new_complex_string = complex_string.replace("apple", "orange")
print(new_complex_string)

orange pie, orange juice, orange tart

In [71]:
num1 = 15
num2 = 7

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = float(num1)/num2

print ("Addition:", addition)
print ("Subtraction:", subtraction)
print ("Multiplication:", multiplication)
print ("Division:", division)

Addition: 22
Subtraction: 8
Multiplication: 105
Division: 2.142857142857143

In [78]:
first_name = "Janevive"
last_name = "Orie"

my_name = (first_name + " " + last_name).upper()

print(my_name)

JANEVIVE ORIE

In [79]:
num_of_books = "15"
books_read = int(num_of_books)

average = books_read/4
print(average)

3.75

In [5]:
name = "John Doe"
age = "25"
height = 1.75
weight = 68.5

bmi = weight/(height**2)

print(f"The BMI of {name} is: {bmi}")

The BMI of John Doe is: 22.367346938775512

In [12]:
product_name = "Widget XYZ"
initial_quantity = 100
price_per_unit = 12.50
discount_percentage = 0.15

total_value_of_initial_stock = initial_quantity * price_per_unit
discount_to_total_value = total_value_of_initial_stock * discount_percentage
discounted_value_of_stock = total_value_of_initial_stock - discount_to_total_value

new_shipment = 30
updated_quantity = initial_quantity + new_shipment

print("Product Name:", product_name)
print("Initial Quantity:", initial_quantity)
print("Price per Unit:", price_per_unit)
print("Discount Percentage:", discount_percentage * 100, "%")

print("\n----Result----")
print("Total Value of Initial Stock: $", total_value_of_initial_stock)
print("Discounted Value: $", discounted_value_of_stock)
print("Updated Quantity:", updated_quantity)

Product Name: Widget XYZ
Initial Quantity: 100
Price per Unit: 12.5
Discount Percentage: 15.0 %

----Result----
Total Value of Initial Stock: $ 1250.0
Discounted Value: $ 1062.5
Updated Quantity: 130

In [26]:
forest_name = "Mau Forest"
area = 400000
forest_type = "closed‐canopy montane"


print(f"The {forest_name} is the largest {forest_type} forest ecosystem in East Africa, covering {area} hectares.")
print("The", forest_name + " is the largest", forest_type + " forest ecosystem in East Africa, covering", str(area) +" hectares.")

The Mau Forest is the largest closed‐canopy montane forest ecosystem in East Africa, covering 400000 hectares.
The Mau Forest is the largest closed‐canopy montaneforest ecosystem in East Africa, covering 400000 hectares.

In [27]:
growth_rate = 2.5
forest_region = "Amazon"

print("The annual growth rate of trees in the {} forest is {}%.".format(forest_region, growth_rate))

The annual growth rate of trees in the Amazon forest is 2.5%.

In [28]:
sfm_concept = "Sustainable Forest Management"
biodiversity_importance = "maintaining biodiversity"

print(f"{sfm_concept} is crucial for {biodiversity_importance}.")

Sustainable Forest Management is crucial for maintaining biodiversity.

In [40]:
animal_tuple = tuple(["Yellow anaconda", "Reptile", 30.5, 20])

print (animal_tuple)
type(animal_tuple)

('Yellow anaconda', 'Reptile', 30.5, 20)

tuple

In [34]:
first_index = animal_tuple.index("Yellow anaconda")
print(first_index)

0

In [35]:
sliced_tuple = animal_tuple[1:4]
print(sliced_tuple)

('Reptile', 30.5, 20)

In [37]:
animal_tuple_new = animal_tuple + ("Swamp", False)
print(animal_tuple_new)

('Yellow anaconda', 'Reptile', 30.5, 20, 'Swamp', False)

In [41]:
length_of_tuple = len(animal_tuple_new)
print(f"No. of attributes: {length_of_tuple}")

No. of attributes: 6

In [42]:
count_false = animal_tuple_new.count(False)
print(count_false)

1

In [46]:
animal_tuple = ("Yellow anaconda", "Reptile", 30.5, 20)

name, group, av_weight, av_lifespan = animal_tuple
print(f"Name: {name}")
print(f"Group: {group}")
print(f"Average Weight: {av_weight}")
print(f"Average Lifespan: {av_lifespan}")

Name: Yellow anaconda
Group: Reptile
Average Weight: 30.5
Average Lifespan: 20

In [50]:
tree_tuple = tuple([8, "apple", "Granny Smith"])

print(tree_tuple)
type(tree_tuple)

(8, 'apple', 'Granny Smith')

tuple

In [52]:
length_tree_tuple = len(tree_tuple)
print(f"Length of Tree Tuple: {length_tree_tuple}")

Length of Tree Tuple: 3

In [69]:
fruit = tree_tuple[1]
print(fruit)

apple

In [56]:
text_only = tree_tuple[1:3]
print(text_only)

('apple', 'Granny Smith')

In [60]:
fruit_summer = tuple(["peach", "apricot", "plum"])
fruit_winter = tuple(["lemon", "orange", "grapefruit"])

print(fruit_summer)
print(fruit_winter)

('peach', 'apricot', 'plum')
('lemon', 'orange', 'grapefruit')

In [61]:
all_fruit = fruit_summer + fruit_winter
print(all_fruit)

('peach', 'apricot', 'plum', 'lemon', 'orange', 'grapefruit')

In [64]:
count_peach = all_fruit.count("peach")
print(count_peach)

1

In [68]:
combined_info = ('yellow', 5, 'lemon')
colour, age, tree_type = combined_info

print(f"Colour: {colour}")
print(f"Age: {age}")
print(f"Tree Type: {tree_type}")

Colour: yellow
Age: 5
Tree Type: lemon

In [72]:
mammals = []
mammals

[]

In [75]:
mammals = ["Lion", "Elephant", "Dolphin"]
mammals

birds = list(("Eagle", "Penguin", "Parrot"))
birds

['Eagle', 'Penguin', 'Parrot']

In [74]:
range_list = list(range(0,5))
range_list

[0, 1, 2, 3, 4]

In [76]:
print(birds)
print(range_list)

['Eagle', 'Penguin', 'Parrot']
[0, 1, 2, 3, 4]

In [77]:
animals_combined = mammals + birds
animals_combined

['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']

In [78]:
mammals_copy = mammals.copy()

print(mammals, mammals_copy)

['Lion', 'Elephant', 'Dolphin'] ['Lion', 'Elephant', 'Dolphin']

In [79]:
animals_grouped = [mammals, birds]
print(animals_grouped)

[['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]

In [80]:
animals_grouped = [['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
second_mammal = animals_grouped[0][1]
print(second_mammal)

Elephant

In [81]:
animals_combined = ['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']
sliced_list = animals_combined[2:5]
print(sliced_list)

['Dolphin', 'Eagle', 'Penguin']

In [93]:
mammals_copy = mammals.copy()

# Add a list element to mammals_copy
mammals_copy.append(["Cat", "Dog"])
print(mammals_copy)

mammals_copy.extend(["Bear", "Horse"])
print(mammals_copy)

mammals_copy.insert(3, "Tiger")
print(mammals_copy)

['Lion', 'Elephant', 'Dolphin', ['Cat', 'Dog']]
['Lion', 'Elephant', 'Dolphin', ['Cat', 'Dog'], 'Bear', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger', ['Cat', 'Dog'], 'Bear', 'Horse']

In [94]:
print(mammals_copy)

# Remove the elements at index 4 and 5 from mammals_copy
del mammals_copy[4:6]
print(mammals_copy)

['Lion', 'Elephant', 'Dolphin', 'Tiger', ['Cat', 'Dog'], 'Bear', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger', 'Horse']

In [95]:
mammals_copy.remove("Horse")
print(mammals_copy)

['Lion', 'Elephant', 'Dolphin', 'Tiger']

In [96]:
third_mammal = mammals_copy.pop(2)
print(third_mammal)
print(mammals_copy)

Dolphin
['Lion', 'Elephant', 'Tiger']

In [97]:
mammals_copy[1] = "Cheetah"
print(mammals_copy)

['Lion', 'Cheetah', 'Tiger']

In [99]:
"Penguin" in birds

True

In [101]:
mammals_copy.sort(reverse = True)
print(mammals_copy)

['Tiger', 'Lion', 'Cheetah']

In [103]:
print(animals_combined)
animals_sorted = sorted(animals_combined, reverse = True)
print(animals_sorted)

['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']
['Penguin', 'Parrot', 'Lion', 'Elephant', 'Eagle', 'Dolphin']

In [104]:
boolean_list = [False, True]
any(boolean_list)

True

In [106]:
first_trees = list(range(1,6))
first_trees

[1, 2, 3, 4, 5]

In [115]:
tree_list = list(range(20, 144, 4))
tree_list

tree_list.append([400])
print(tree_list)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, [400]]

In [117]:
old_trees = [500, 600, 700]
combined_trees = tree_list + old_trees

print(combined_trees)

len(combined_trees)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, [400], 500, 600, 700]

35

In [118]:
conifers = ["Pine", "Fir", "Juniper"]
cycads = ["Cycas", "Sago palm", "Zamia"]

gymnosperms = [conifers, cycads]
print(gymnosperms)

[['Pine', 'Fir', 'Juniper'], ['Cycas', 'Sago palm', 'Zamia']]

In [122]:
planting_cycas_sago = gymnosperms [1][0:2]
print(planting_cycas_sago)

['Cycas', 'Sago palm']

In [132]:
combined_gymnosperms = (conifers + cycads)
print(combined_gymnosperms)

combined_gymnosperms = sorted(combined_gymnosperms, reverse = False)
print(combined_gymnosperms)

['Pine', 'Fir', 'Juniper', 'Cycas', 'Sago palm', 'Zamia']
['Cycas', 'Fir', 'Juniper', 'Pine', 'Sago palm', 'Zamia']

In [133]:
eats_plants = {"Giraffe", "Elephant", "Bear", "Rabbit", "Fox"}
print(eats_plants)

{'Giraffe', 'Elephant', 'Fox', 'Bear', 'Rabbit'}

In [134]:
eats_meat = {"Lion", "Tiger", "Bear", "Hawk", "Fox", "Lion"}
print(eats_meat)

{'Fox', 'Hawk', 'Bear', 'Lion', 'Tiger'}

In [135]:
eats_plants.add("Cow")
print(eats_plants)

{'Giraffe', 'Elephant', 'Fox', 'Cow', 'Bear', 'Rabbit'}

In [139]:
Deer = {"Leopard", "Cheetah"}
eats_meat.update({"Leopard", "Cheetah"})
print(eats_meat)

{'Bear', 'Tiger', 'Cheetah', 'Leopard', 'Fox', 'Hawk', 'Lion'}

In [143]:
eats_plants.remove("Rabbit")
print(eats_plants)

KeyError: 'Rabbit'

In [144]:
eats_plants.discard("Deer")
print(eats_plants)

{'Giraffe', 'Elephant', 'Fox', 'Cow', 'Bear'}

In [145]:
all_animals = eats_meat.union(eats_plants)
print(all_animals)

{'Giraffe', 'Bear', 'Elephant', 'Tiger', 'Cheetah', 'Leopard', 'Fox', 'Hawk', 'Cow', 'Lion'}

In [146]:
omnivores = eats_meat.intersection(eats_plants)
print(omnivores)

{'Bear', 'Fox'}

In [147]:
carnivore_only = eats_meat.difference(eats_plants)
print(carnivore_only)

{'Tiger', 'Cheetah', 'Leopard', 'Hawk', 'Lion'}

In [148]:
eats_plants_subset = eats_plants.issubset(all_animals)
print(eats_plants_subset)

True

In [149]:
Length_of_set = len(carnivore_only)
print(f"No. of animals that are exclusively carnivorous: {Length_of_set}")

No. of animals that are exclusively carnivorous: 5

In [150]:
all_animals.clear()
print(all_animals)

set()

In [167]:
tree_list = ['Tamboti', 'Baobab', 'Umbrella thorn', 'Yellowwood', 'Fever Tree', 'Moringa',
             'Marula', 'Waterpear','Baobab', 'Fountain Tree', 'Papaya Tree', 'Indian Laurel', 'Moringa']

tree_set = {'Tamboti', 'Baobab', 'Umbrella thorn', 'Yellowwood', 'Fever Tree', 'Moringa',
             'Marula', 'Waterpear','Baobab', 'Fountain Tree', 'Papaya Tree', 'Indian Laurel', 'Moringa'}
print("Tree set:",tree_set)
len(tree_list)

Tree set: {'Waterpear', 'Yellowwood', 'Marula', 'Fountain Tree', 'Fever Tree', 'Umbrella thorn', 'Indian Laurel', 'Moringa', 'Tamboti', 'Baobab', 'Papaya Tree'}

13

In [161]:
len(tree_set)

11

In [164]:
day_1_trees = {'Baobab', 'Buffalo Thorn', 'Bushwillow', 'Jackalberry', 'Knob Thorn', 'Lala Palm', 'Marula Tree', 'Umbrella Thorn', 'Weeping Boer Bean', 'Sausage Tree'}
day_2_trees = {'Mopane Tree', 'Bushwillow', 'Knob Thorn', 'Jackalberry', 'Nara Plant', 'Wild Date Palm', 'Natal Mahogany', 'Tamboti', 'Leadwood', 'Bushwillow'}

union_results = day_1_trees.union(day_2_trees)
both_days = day_1_trees.intersection(day_2_trees)
one_set_result = day_1_trees.difference(day_2_trees)
both_days_subset = both_days.issubset(day_1_trees)
print(union_results)
print(both_days)
print(one_set_result)
print(both_days_subset)

{'Weeping Boer Bean', 'Jackalberry', 'Natal Mahogany', 'Bushwillow', 'Marula Tree', 'Baobab', 'Wild Date Palm', 'Lala Palm', 'Sausage Tree', 'Nara Plant', 'Umbrella Thorn', 'Leadwood', 'Tamboti', 'Mopane Tree', 'Knob Thorn', 'Buffalo Thorn'}
{'Knob Thorn', 'Bushwillow', 'Jackalberry'}
{'Weeping Boer Bean', 'Lala Palm', 'Sausage Tree', 'Umbrella Thorn', 'Marula Tree', 'Baobab', 'Buffalo Thorn'}
True

In [166]:
hardwood_trees = {'Yellowwood', 'Leadwood', 'Blackwood'}
hardwood_trees_subset = hardwood_trees.issubset(day_2_trees)
print(hardwood_trees_subset)

False

In [6]:
our_first_dictionary = {}
type(our_first_dictionary)

dict

In [7]:
our_first_dictionary['first_key']='first_value'

our_first_dictionary['first_key']

'first_value'

In [172]:
duplicate_key_dict = {'first_key': 'first_value', 'first_key': 'second_value', 'extra_key': 'extra_value'}
duplicate_key_dict

{'first_key': 'second_value', 'extra_key': 'extra_value'}

In [8]:
our_first_dictionary['first_key'] = 100
print(our_first_dictionary)

{'first_key': 100}

In [1]:
duplicate_key_dict = {'first_key': 'first_value', 'first_key': 'second_value', 'extra_key': 'extra_value'}
duplicate_key_dict

{'first_key': 'second_value', 'extra_key': 'extra_value'}

In [9]:
our_first_dictionary['first_key'] = 100
print(our_first_dictionary)

{'first_key': 100}

In [11]:
an_extra_key_value_dict = {'extra_key':'extra_value', 'another_extra_key':'another_value'}
our_first_dictionary.update(an_extra_key_value_dict)
our_first_dictionary

{'first_key': 100,
 'extra_key': 'extra_value',
 'another_extra_key': 'another_value'}

In [12]:
print("Original our_first_dictionary: ", our_first_dictionary)

# using del keyword to remove the key-value pair
del our_first_dictionary["another_extra_key"]
print("Updated our_first_dictionary: ", our_first_dictionary)

Original our_first_dictionary:  {'first_key': 100, 'extra_key': 'extra_value', 'another_extra_key': 'another_value'}
Updated our_first_dictionary:  {'first_key': 100, 'extra_key': 'extra_value'}

In [17]:
fynbos_families = { 'Erica': {'Cape Floristic Region': 670, 'Worldwide': 4500},
                         'Protea': {'Cape Floristic Region': 330, 'Worldwide': 1350},
                         'Restio':{'Cape Floristic Region': 320, 'Worldwide': 400},
                         'Citrus':{'Cape Floristic Region': 273, 'Worldwide': 1650},
                         'Phylica':{'Cape Floristic Region': 137, 'Worldwide': 900}
                        }
type(fynbos_families["Erica"])

dict

In [18]:
fynbos_families["Protea"]["Cape Floristic Region"]

330

In [19]:
protea_species = fynbos_families['Protea']
print(protea_species)

{'Cape Floristic Region': 330, 'Worldwide': 1350}

In [35]:
key_list = list(protea_species.keys())
key_list

['Cape Floristic Region', 'Worldwide']

In [29]:
tree = {"tree_type": "Pepper_Bark Tree", "age": 15, "family": "Canellaceae"}
type(tree)

dict

In [43]:
print(f"Age: {tree["age"]}")

Age: 15

In [44]:
tree_update = {"kingdom": "Plantae"} 
tree.update(tree_update)
print(tree)

{'tree_type': 'Pepper_Bark Tree', 'age': 15, 'family': 'Canellaceae', 'kingdom': 'Plantae'}

In [52]:
del tree["family"]

KeyError: 'family'

In [53]:
print(tree)

{'tree_type': 'Pepper_Bark Tree', 'age': 15, 'kingdom': 'Plantae'}

In [57]:
tree["tree_type"] = "Wild Cinnamon"
print(tree)

{'tree_type': 'Wild Cinnamon', 'age': 15, 'kingdom': 'Plantae', slice('tree_type', None, None): 'Wild Cinnamon'}

In [61]:
del tree[slice('tree_type', None, None)]

In [62]:
print(tree)

{'tree_type': 'Wild Cinnamon', 'age': 15, 'kingdom': 'Plantae'}

In [65]:
key_list = list(tree.keys())
value_list = list(tree.values())
print(f"Key List: {key_list}")
print(f"Value List: {value_list}")

Key List: ['tree_type', 'age', 'kingdom']
Value List: ['Wild Cinnamon', 15, 'Plantae']

In [68]:
print(type(tree.items()))

item_list = tuple(tree.items())
print(item_list)

<class 'dict_items'>
(('tree_type', 'Wild Cinnamon'), ('age', 15), ('kingdom', 'Plantae'))

In [69]:
type(item_list)

tuple

In [70]:
african_trees = {
    "Baobab": {
        "common_name": "Baobab",
        "scientific_name": "Adansonia",
    },
    "Acacia": {
        "common_name": "Acacia",
        "scientific_name": "Acacia",
    }
}
print(african_trees)

{'Baobab': {'common_name': 'Baobab', 'scientific_name': 'Adansonia'}, 'Acacia': {'common_name': 'Acacia', 'scientific_name': 'Acacia'}}

In [71]:
african_trees_update = {"Baobab": 
                        {"country": "Zimbabwe", "average_height": 25}, 
                    "Acacia": 
                         {"country": "South Africa", "average_height": 15}
                    }
african_trees.update(african_trees_update)
print(african_trees)

{'Baobab': {'country': 'Zimbabwe', 'average_height': 25}, 'Acacia': {'country': 'South Africa', 'average_height': 15}}

In [72]:
del african_trees_update

In [73]:
new_baobab = {"country":"Zimbabwe","average_height":25}
african_trees['Baobab'].update(new_baobab)
new_acacia = {"country":"South Africa","average_height":15}
african_trees['Acacia'].update(new_acacia)

print(african_trees)

{'Baobab': {'country': 'Zimbabwe', 'average_height': 25}, 'Acacia': {'country': 'South Africa', 'average_height': 15}}

In [74]:
print(african_trees)

{'Baobab': {'country': 'Zimbabwe', 'average_height': 25}, 'Acacia': {'country': 'South Africa', 'average_height': 15}}